{% extends "chatapp/chatapp_base.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/one_on_one_chat.css' %}">
{% endblock %}
{% block content %}
<div id="chat_app_wrapper">
    <div id="chat_log">
        <div id="chat_app_header">
            {% if chat_partner.icon %}
            <img src="{{ chat_partner.icon.url }}" id="partner_icon">
            {% else %}
            <svg id="partner_icon">
                <use xlink:href="#user_symbol"/>
            </svg>
            {% endif %}
            <p id="partner_name">{{ chat_partner.username }}</p>
        </div>
        {% for message in message_list %}
        <div class="message-block-wrapper {% if message.sender != request.user %}partners{% endif %}">
            {% if message.sender.icon %}
            <img src="{{ message.sender.icon.url }}" class="message-sender-icon {% if message.sender != request.user %}partners{% endif %}">
            {% else %}
            <svg class="message-sender-icon {% if message.sender != request.user %}partners{% endif %}">
                <use xlink:href="#user_symbol"/>
            </svg>
            {% endif %}
            <div class="message-text-block {% if message.sender != request.user %}partners-text-block{% endif %}">
                <p class="message-sender-name">{{ message.sender.username }}</p>
                <p class="messge-content">{{ message.content }}</p>
            </div>
        </div>
        <div class="clear"></div>
        {% endfor %}
    </div>
    <div id="message_form_wrapper">
        <div id="message_form">
            <input type="message_input" name="message_input" placeholder="Your message here..." id="message_input">
            <button type="button" id="message_submit">
                <svg id="plane_svg">
                    <use xlink:href="#plane_symbol"/>
                </svg>
            </button>
        </div>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;" class="none">
<!--
This SVG is used in combination with some of the following libraries:
Font Awesome Free 5.14.0 by @fontawesome - https://fontawesome.com
License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
-->
    <defs>
        <symbol id="user_symbol" viewBox="0 0 448 512">
            <path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"/>
        </symbol>
        <symbol id="plane_symbol" viewBox="0 0 512 512">
            <path d="M440 6.5L24 246.4c-34.4 19.9-31.1 70.8 5.7 85.9L144 379.6V464c0 46.4 59.2 65.5 86.6 28.6l43.8-59.1 111.9 46.2c5.9 2.4 12.1 3.6 18.3 3.6 8.2 0 16.3-2.1 23.6-6.2 12.8-7.2 21.6-20 23.9-34.5l59.4-387.2c6.1-40.1-36.9-68.8-71.5-48.9zM192 464v-64.6l36.6 15.1L192 464zm212.6-28.7l-153.8-63.5L391 169.5c10.7-15.5-9.5-33.5-23.7-21.2L155.8 332.6 48 288 464 48l-59.4 387.3z"/>
        </symbol>
    </defs>
</svg>
{% endblock %}
{% block script %}
{{ room.pk | json_script:"room_pk" }}
{{ request.user.pk | json_script:"req_user_pk" }}
<script type="text/javascript">

    const roomPk = JSON.parse(document.getElementById('room_pk').textContent);
    const reqUserPk = JSON.parse(document.getElementById('req_user_pk').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomPk
        + '/'
    );

    const getMyIcon = function(icon) {
        if (icon) {
            return `<img src="` + icon + `" class="message-sender-icon"/>`
        } else {
            return `<svg class="message-sender-icon">
                        <use xlink:href="#user_symbol/>
                    </svg>`
        }
    }

    const getPartnerIcon = function(icon) {
        if (icon) {
            return `<img src="` + icon + `" class="message-sender-icon partners"/>`
        } else {
            return `<svg class="message-sender-icon partners">
                        <use xlink:href="#user_symbol/>
                    </svg>`
        }
    }

    const chatLog = document.getElementById('chat_log');
    chatLog.scrollTop = chatLog.scrollHeight;

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data.user_pk === reqUserPk) {
            let messageElement = `
                <div class="message-block-wrapper">`
                    + getMyIcon(data.icon_url)
                    + `<div class="message-text-block">
                        <p class="message-sender-name">` + data.user_name + `</p>
                        <p class="messge-content">` + data.message + `</p>
                    </div>
                </div>
            `;
            chatLog.insertAdjacentHTML('beforeend', messageElement);
            chatLog.scrollTop = chatLog.scrollHeight;
        } else {
            let messageElement = `
                <div class="message-block-wrapper partners">`
                    + getPartnerIcon(data.icon_url)
                    + `<div class="message-text-block partners-text-block">
                        <p class="message-sender-name">` + data.user_name + `</p>
                        <p class="messge-content">` + data.message + `</p>
                    </div>
                </div>
            `;
            chatLog.insertAdjacentHTML('beforeend', messageElement);
            chatLog.scrollTop = chatLog.scrollHeight;
        };
    }

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    const messageInput = document.getElementById('message_input');
    const messageSubmit = document.getElementById('message_submit');

    messageInput.focus();

    messageInput.onkeyup = function(e) {
        if (e.keyCode === 13) {
            messageSubmit.click();
        }
    }

    messageSubmit.onclick = function(e) {

        chatSocket.send(JSON.stringify({
            'message': messageInput.value,
            'user_pk': reqUserPk
        }));

        messageInput.value = '';
    }
</script>
{% endblock %}