{% extends "chatapp/chatapp_base.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/one_on_one_chat.css' %}">
{% endblock %}
{% block content %}
<div id="chat_app_wrapper">
    <div id="chat_log">
        <div id="chat_app_header">
            {% if chat_partner.icon %}
            <img src="{{ chat_partner.icon.url }}" id="partner_icon">
            {% else %}
            <svg id="partner_icon">
                <use xlink:href="#user_symbol"/>
            </svg>
            {% endif %}
            <p id="partner_name">{{ chat_partner.username }}</p>
        </div>
        {% for message in message_list %}
        <div class="message-block-wrapper {% if message.sender != request.user %}partners{% endif %}">
            {% if message.sender.icon %}
            <img src="{{ message.sender.icon.url }}" class="message-sender-icon {% if message.sender != request.user %}partners{% endif %}">
            {% else %}
            <svg class="message-sender-icon {% if message.sender != request.user %}partners{% endif %}">
                <use xlink:href="#user_symbol"/>
            </svg>
            {% endif %}
            <div class="message-text-block {% if message.sender != request.user %}partners-text-block{% endif %}">
                <p class="message-sender-name">{{ message.sender.username }}</p>
                <p class="messge-content">{{ message.content }}</p>
            </div>
        </div>
        <div class="clear"></div>
        {% endfor %}
    </div>
    <div id="message_form_wrapper">
        <div id="message_form">
            <input type="message_input" name="message_input" placeholder="Your message here..." id="message_input">
            <button type="button" id="message_submit">
                <svg id="plane_svg">
                    <use xlink:href="#plane_symbol"/>
                </svg>
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ room.pk | json_script:"room_pk" }}
{{ request.user.pk | json_script:"req_user_pk" }}
<script type="text/javascript">

    const roomPk = JSON.parse(document.getElementById('room_pk').textContent);
    const reqUserPk = JSON.parse(document.getElementById('req_user_pk').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomPk
        + '/'
    );

    const getMyIcon = function(icon) {
        if (icon) {
            return `<img src="` + icon + `" class="message-sender-icon"/>`
        } else {
            return `<svg class="message-sender-icon">
                        <use xlink:href="#user_symbol/>
                    </svg>`
        }
    }

    const getPartnerIcon = function(icon) {
        if (icon) {
            return `<img src="` + icon + `" class="message-sender-icon partners"/>`
        } else {
            return `<svg class="message-sender-icon partners">
                        <use xlink:href="#user_symbol/>
                    </svg>`
        }
    }

    const chatLog = document.getElementById('chat_log');
    chatLog.scrollTop = chatLog.scrollHeight;

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data.user_pk === reqUserPk) {
            let messageElement = `
                <div class="message-block-wrapper">`
                    + getMyIcon(data.icon_url)
                    + `<div class="message-text-block">
                        <p class="message-sender-name">` + data.user_name + `</p>
                        <p class="messge-content">` + data.message + `</p>
                    </div>
                </div>
            `;
            chatLog.insertAdjacentHTML('beforeend', messageElement);
            chatLog.scrollTop = chatLog.scrollHeight;
        } else {
            let messageElement = `
                <div class="message-block-wrapper partners">`
                    + getPartnerIcon(data.icon_url)
                    + `<div class="message-text-block partners-text-block">
                        <p class="message-sender-name">` + data.user_name + `</p>
                        <p class="messge-content">` + data.message + `</p>
                    </div>
                </div>
            `;
            chatLog.insertAdjacentHTML('beforeend', messageElement);
            chatLog.scrollTop = chatLog.scrollHeight;
        };
    }

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    const messageInput = document.getElementById('message_input');
    const messageSubmit = document.getElementById('message_submit');

    messageInput.focus();

    messageInput.onkeyup = function(e) {
        if (e.keyCode === 13) {
            messageSubmit.click();
        }
    }

    messageSubmit.onclick = function(e) {

        chatSocket.send(JSON.stringify({
            'message': messageInput.value,
            'user_pk': reqUserPk
        }));

        messageInput.value = '';
    }
</script>
{% endblock %}